<!DOCTYPE html>
<html lang="en">
<head>
<title>hldr.co | Animated Image Placeholders </title>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <%= style_tag 'main' %>
</head>
<body>
    <%= yield %>
    <script src="scripts/analytics.js" />
</body>
</html>
