<div class="alpha">
	<div class="container">
		<header>
			<img src="/images/logo.gif" />
		</header>
		<main role="main">
			<form>
				<input type="text" placeholder="Search" />
				<input type="text" placeholder="Width" />
				<input type="text" placeholder="Height" />
				<button type="submit">Submit</button>
			</form>
			</form>
		</main>
		<footer>
			Created by <a target="_blank" href="//twitter.com/brokun_musheen">@brokun_musheen</a> +&nbsp;<a target="_blank" href="//twitter.com/woodenwarship">@woodenwarship</a>
			<br/><br/>
			<a href="//giphy.com" target="_blank">
				<img src="//hldr.co/PoweredBy_200_Horizontal_Light-Backgrounds_With_Logo.gif" />
			</a>
		</footer>
	</div>
</div>